---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% assign talks_by_year = site.talks | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in talks_by_year reversed %}
  <div style="margin-bottom: 30px;"></div>
  <h1>{{ year.name }}</h1>
  {% for post in year.items reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endfor %}

{% if site.talkmap_link == true %}

<p style="text-decoration;">See the map of all the places I've given a talk!</p>
<iframe src="/talkmap/map.html" height="700" width="850" style="border:none;"></iframe>

{% endif %}
